@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-button-prev:after,
.swiper-button-next:after {
  content: '' !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #f2f2f2;
  width: 44px;
  height: 44px;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23f2f2f2' stroke-width='3'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15 19l-7-7 7-7'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23f2f2f2' stroke-width='3'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5l7 7-7 7'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

.swiper-pagination-bullet {
  background: #f2f2f2;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #f2f2f2;
  opacity: 1;
}

/* Global Reset for Border Radius */
img,
button,
input,
textarea,
a,
.card,
.select,
.alert,
.badge {
  border-radius: 0 !important;
}
