@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-button-next,
.swiper-button-prev {
  color: #f2f2f2;
  font-size: 1.5rem;
}

.swiper-pagination-bullet {
  background: #f2f2f2;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #f2f2f2;
  opacity: 1;
}

/* Global Reset for Border Radius */
img,
button,
input,
textarea,
a,
.card,
.select,
.alert,
.badge {
  border-radius: 0 !important;
}
